body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*antd*/

.ant-layout {
  height: 100vh;
}

.ant-menu {
  line-height: 50px !important;
}

/*Navbar*/
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #042d54 !important;
}
.header ul {
  background: transparent !important;
  font-size: 1.2em;
  line-height: 0;
  /* height: 50px !important; */
}

.logo h2 {
  color: #fafafa;
  font-size: 2.5em;
  letter-spacing: 5px;
  margin: 0;
}
